<EditForm Model="@Client" OnValidSubmit="@SubmitForm">
    <DataAnnotationsValidator />

    <div class="mb-3 px-0 col-sm-4">
        <label for="firstName" class="form-label">First name</label>
        <InputText id="firstName" class="form-control" @bind-Value="@Client.FirstName" placeholder="Enter first name"></InputText>
        <ValidationMessage For="@(() => Client.FirstName)"/>
    </div>

    <div class="mb-3 px-0 col-sm-4">
        <label for="lastName" class="form-label">Last name</label>
        <InputText id="lastName" class="form-control" @bind-Value="@Client.LastName" placeholder="Enter last name"></InputText>
        <ValidationMessage For="@(() => Client.LastName)" />
    </div>

    <div class="mb-3 px-0 col-sm-4">
        <label for="carType" class="form-label">Car type</label>
        <InputText id="carType" class="form-control" @bind-Value="@Client.CarType" placeholder="Enter car type"></InputText>
        <ValidationMessage For="@(() => Client.CarType)" />
    </div>

    <div class="mb-3 px-0 col-sm-4">
        <label for="licensePlate" class="form-label">License plate</label>
        <InputText id="licensePlate" class="form-control" @bind-Value="@Client.LicensePlate" placeholder="Enter license plate"></InputText>
        <ValidationMessage For="@(() => Client.LicensePlate)" />
    </div>

    <div class="mb-3 px-0 col-sm-4">
        <label for="issue" class="form-label">Issue</label>
        <InputTextArea id="issue" class="form-control" @bind-Value="@Client.Issue" placeholder="Enter issue"></InputTextArea>
        <ValidationMessage For="@(() => Client.Issue)" />
    </div>

    <div class="mb-3 px-0 col-sm-4">
        <label for="progress" class="form-label">Progress</label>
        <InputSelect id="progress" class="form-control" @bind-Value="@Client.Progress">
            <option value="">Select progress...</option>
            <option value="Accepted">Accepted</option>
            <option value="In progress">In progress</option>
            <option value="Done">Done</option>
        </InputSelect>
        <ValidationMessage For="@(() => Client.Progress)" />
    </div>

    <button type="submit" class="btn btn-primary col-sm-4">@ButtonTitle</button>
</EditForm>