@page "/clients"

<h1>Clients</h1>

@if (Clients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Car Type</th>
                <th>License Plate</th>
                <th>Issue</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Clients)
            {
                <tr>
                    <td>@client.FirstName @client.LastName</td>
                    <td>@client.CarType</td>
                    <td>@client.LicensePlate</td>
                    <td>@client.Issue</td>
                    <td>@client.Progress</td>
                </tr>
            }
        </tbody>
    </table>
}